.logs {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow-y: scroll;
    height: 100%;
    padding-bottom: 30px;

    .log {
        flex: 0 0 auto;
        font-family: consolas;
        line-height: 1.1em;
        font-size: 14px;
        border-bottom: solid #fff5 1px;
        box-sizing: border-box;
        min-height: 15px;
        padding: 5px 3px;
        white-space: pre-wrap;
        word-break: break-all;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1px 6px;

        div,
        span {
            cursor: default;
            user-select: text;

            &::selection {
                background-color: #fff2;
            }
        }

        &:last-child {
            border: none;
        }

        .collapsable {
            display: flex;
            flex-direction: row;
            gap: 1px;

            .head {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 3px;

                .collapse-btn {
                    all: inherit;
                    flex: 0 0 auto;
                    font-size: 9px;
                    margin-right: 3px;
                    background: none;
                    user-select: none;
                }
                .preview {
                    font-style: italic;
                    color: #fff;

                    .pair > .key {
                        color: #fff8;
                    }
                }

                &:hover {
                    background-color: #fff2;
                }
            }
        }

        .log-content {
            &.string.inline {
                color: #5cd5fb;
            }
            &.inline:not(.string) {
                word-break: keep-all;
            }

            &.symbol {
                color: #5cd5fb;
            }
            &.bigint {
                color: #aaa;
            }
            &.number,
            &.boolean {
                color: #9980ff;
            }
            &.null,
            &.undefined {
                color: #aaa;
            }
            &.dataview {
                font-style: italic;
            }
            &.function {
                font-style: italic;
                & > .function-prefix {
                    color: #fe8d59;
                }
            }
            &._circularref,
            &.unknown {
                font-style: italic;
                color: #c5be94;
            }
        }
    }
}
