body {
    --viewport-ratio: 1;
    --outline-width: max(calc(4px / var(--viewport-ratio)), 3px);
}
body.grabbing * {
    cursor: grabbing !important;
}

html,
body,
#app {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "Pretend";
}

img,
svg {
    display: block;
    -webkit-user-drag: none;
}

*:focus {
    outline: none;
}

*::-webkit-scrollbar {
    width: 14px;
}
*::-webkit-scrollbar-track {
    background: transparent;
}
*::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.7);
    background-clip: padding-box;
    border: solid 4px transparent;
    border-radius: 7px;
}
*::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 1);
}

hr {
    box-sizing: border-box;
    margin-block: 20px;
    padding: 0;
    width: 100%;
    border: solid #fff 1px;
}
.focus {
    outline: solid var(--outline-width) #2b6eff;
}
.contextmenu {
    outline: dashed var(--outline-width) #ff8000;
}
.hl-variable,
.hl-resource {
    outline: solid var(--outline-width) #ffe734;
    outline-offset: 3px;
}

@font-face {
    font-family: "HelveticaExt";
    src: url(./assets/fonts/helveticaExt.woff);
    font-weight: 400;
}
@font-face {
    font-family: "HelveticaExt";
    src: url(./assets/fonts/helveticaExtLight.woff);
    font-weight: 300;
}
@font-face {
    font-family: "Noto Serif";
    src: url(./assets/fonts/NotoSerifKR-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: "Noto Serif";
    src: url(./assets/fonts/NotoSerifKR-Light.ttf);
    font-weight: 300;
}
@font-face {
    font-family: "Noto Serif";
    src: url(./assets/fonts/NotoSerifKR-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: "Pretend";
    src: url(./assets/fonts/PretendardVariable.woff2);
}
