@font-face {
    font-family: "hehehe";
    src: url("%FONTS%/helveticaExt.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

.hello {
    font-size: 50px !important;
}
