html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    background: repeating-conic-gradient(#e7e7e7 0% 25%, #bababa 0% 50%) 50% / 16px 16px;
}

body {
    --gamezone-width: 100vw;
    --gamezone-height: 100vh;
}

#gamezone {
    display: block;
    background-color: #000;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    transform-origin: left top;
}
#gamezone,
repair-component,
#preview-zone,
#preview-component {
    display: flex;
    align-items: center;
    justify-content: center;
}

#preview-zone {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999;
    pointer-events: none;
}
#preview-component {
    position: absolute;
}

#preloads {
    position: fixed;
    left: 150vw;
    top: 150vh;
    display: flex;
}
#preloads * {
    max-width: var(--gamezone-width);
    max-height: var(--gamezone-height);
}

img,
video {
    display: block;
    -webkit-user-drag: none;
}

input {
    margin: 0;
    display: block;
    -webkit-user-drag: none;
    box-sizing: border-box;
    border: none;
    background: none;
}
input:focus {
    outline: none;
}

* {
    user-select: none;
}

repair-component,
#preview-component {
    width: fit-content;
    height: fit-content;
}
repair-element {
    display: block;
    width: fit-content;
    height: fit-content;
}

#preview-component:not(.show-content) {
    outline: dashed #2b6eff 2px;
    background: none !important;
    backdrop-filter: blur(5px) none;
}
#preview-component.show-content {
    background: repeating-linear-gradient(
        -45deg,
        rgba(43, 110, 255, 0.8),
        rgba(43, 110, 255, 0.8) 5px,
        rgba(43, 110, 255, 0.4) 5px,
        rgba(43, 110, 255, 0.4) 10px
    ) !important;
    overflow: visible;
    backdrop-filter: blur(5px) !important;
}
.preview-element {
    outline: dashed #ff8000 2px;
}
.preview-element,
.preview-element * {
    background: none !important;
}
.preview-element video {
    pointer-events: all;
}

#preview-component:not(.show-content) img,
#preview-component:not(.show-content) video {
    opacity: 0 !important;
}

#repair-editor-password {
    display: none;
    position: fixed;
    pointer-events: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: "HelveticaExt";
    font-size: 30px;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(4px);
    color: #000;
    z-index: 9999;
    border-radius: 10px;
    font-weight: 500;
}

@font-face {
    font-family: "HelveticaExt";
    src: url("./fonts/helveticaExt.woff") format("woff");
}
